.label {
    -fx-text-fill: #FFFFFF;
}
.button {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.table-view .placeholder .label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

